<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% if article.title %}
        <title>{{ article.title }} | prime | Daily Bruin</title>
    {% else %}
        <title>{{ typeTitle }} | prime | Daily Bruin</title>
    {% endif %}
    <link href="{{ STATIC_URL }}prime/css/diy-or-recipe/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.2/normalize.css">

        <style type="text/css">
            header:after {
                background-image: url('{{ STATIC_URL }}prime/img/{{ typeTitle }}/header.jpg');
            }
        </style>
    </head>
    <body>
        <header>
            <ul id="mainnav">
                <li>
                    <a href="{% url 'root' %}">home</a>
                </li>
                <li>
                    {% if typeTitle == 'DIY' %}
                        <a href="{% url 'prime_diy' %}">diy</a>
                    {% else %}
                        <a href="{% url 'prime_recipe' %}">recipes</a>
                    {% endif %}
                </li>
                <li>
                    <a href="#">city guides</a>
                </li>
                <li>
                    {% if typeTitle == 'DIY' %}
                        <a href="{% url 'prime_recipe' %}">recipes</a>
                    {% else %}
                        <a href="{% url 'prime_diy' %}">diy</a>
                    {% endif %}
                </li>
                <li>
                    <a href="#">past issues</a>
                </li>
            </ul>
            <p id="title">
                <span id="one">prime</span> <span id="two">{{ typeTitle }}</span>
            </p>
        </header>

        <hr class="hr" />

        <div id="intropara">
            <p>
                For many of us, college life means living in tiny spaces. Whether you are in a triple dorm in Hedrick Hall or splitting the expensive LA rent with five other people, prime wants you to feel at home in Westwood. We have everything you need to make your space efficient and cozy, all on a budget!
            </p>
        </div>
        <hr class="hr" />

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-28181852-16', 'dailybruin.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
