<html lang="en">
<head>
  <title>prime | city guide</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <noscript>
  <style>
    .ib-main a{
     cursor:pointer;
     overflow: auto;
   }
   .ib-main-wrapper{
     position:absolute;
     top:0px;
     bottom:24px;
     overflow:auto;
   }
  </style>
  </noscript>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.2/normalize.css">
  <link rel="shortcut icon" href="../favicon.ico"> 
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prime/css/cityguide/style.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}prime/css/navbar.css">

</head>
<body>
  <nav class="navbar navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="brand-collapse" href="#">Prime</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="collapse">

        <ul class="nav navbar-nav">
          <li><a href="{% url 'prime_past_issues' %}">All Issues</a></li>
          <li><a href="{% url 'prime_recipe' %}">Recipes</a></li>
          <li id="brand"><a href="{% url 'root' %}">Prime</a></li>
          <li><a href="{% url 'cityguides_view' %}">City Guides</a></li>
          <li><a href="{% url 'prime_diy' %}">DIY</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="map-overlay"></div>
  <div id="googlemaps" style="position: fixed; height: 100%; width: 100%;"></div>

  <div id="content">
    {% for district in districts %}
      <div class="card" id="card-{{ forloop.counter0 }}" style="border-top: 6pt solid rgb(1, 136, 210)"> 
        <img style="width:100%;" src="{{ MEDIA_URL }}{{ district.lead_photo }}">
        <h3><a href="{% url 'cityguide_view' district.slug %}">{{district.title}}</a></h3>
        <p>{{district.intro_body}}</p>

      </div>
    {% endfor %}
  </div>


  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/jquery.kinetic.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/jquery.easing.1.3.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    google.maps.event.addDomListener(window, 'load', showGoogleMaps);
    $(window).scroll(function() {
      if ($(window).width() > 767) {
        if ($('#navbar').offset().top > 100) {
          $('#navbar').addClass('scrolled');
        }
        else {
          $('#navbar').removeClass('scrolled');
        }
      }
    })
  })


  // Inital location for map
  var position = [34.0708189, -118.4531212];
  // URL for spreadsheet with data
  var dataURL = "https://spreadsheets.google.com/feeds/list/1eIxoc4h6B2nTdDAitHkviJH5rtH-MNyBaEUS7zHmKk0/od6/public/values?alt=json";
  // Pin images for map
  var normalPinURL = "http://dailybruin.com/images/2015/05/pin.png";
  var highlightedPinURL = "http://dailybruin.com/images/2015/05/highlighted-pin.png";
  var map; 

  function showGoogleMaps() {

      var latLng = new google.maps.LatLng(position[0], position[1]);

      gc = new google.maps.Geocoder;
      gc.geocode( { 'address' : 'University of California, Los Angeles, CA' }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        center = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());

      var mapOptions = {
        zoom: 11, // initialize zoom level - the max value is 21
        streetViewControl: false, // hide the yellow Street View pegman
        scaleControl: false, // allow users to zoom the Google Map
        panControl: false,
        navigationControl: false,
        mapTypeControl: false,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latLng,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.LARGE,
          position: google.maps.ControlPosition.RIGHT_CENTER
        },
      };

      map = new google.maps.Map(document.getElementById('googlemaps'),
          mapOptions);

      addDataToMap();
      }
    });
  }


  var currentCard = -1;
  var autoMapScroll = 0;
  var mapMarkers = new Array();
  var infoWindows = new Array();
  var pinToChange = null;
  var currentPinIndex = -1;

  // Gets data from Google Spreadsheets
  function addDataToMap(){
    {% for district in districts %}
    var loc; 

    var address = "{{ district.title }}" + ", Los Angeles, CA";
    gc.geocode( { 'address' : address }, function(results, status) {

      if (status == google.maps.GeocoderStatus.OK) {
        loc = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
      }

      var newURL = normalPinURL; 

      mapMarkers[mapMarkers.length] = new google.maps.Marker({
        position: loc,
        map: map,
        draggable: false,
        animation: google.maps.Animation.DROP,
        icon: newURL
      });

      var markerIndex = mapMarkers.length-1;
      google.maps.event.addListener(mapMarkers[markerIndex], 'click', function() {
        clickPin(markerIndex);
      });

    

      var cardID = '#card-' + "{{ forloop.counter0 }}";

      $(window).bind('scroll', function() {
        if(currentCard > {{ forloop.counter0 }} || autoMapScroll != 0)
          return;

        if($(window).scrollTop() < 10)
        {
          panMapTo(0);
        }

        var position = $(cardID).offset().top + $(cardID).outerHeight() - window.innerHeight;
        if(currentCard == {{ forloop.counter0 }} && $(window).scrollTop() < position)
        {
          currentCard--;
          panMapTo(markerIndex-1);
        }

        if($(window).scrollTop() >= position && currentCard != {{ forloop.counter0 }}) {
          currentCard = {{ forloop.counter0 }};
          panMapTo(markerIndex);
        }
      });
    });
    {% endfor %} 



  // });
    // Pan to first item at start
    panMapTo(0, true);
    currentPinIndex = -1;
  }

  function clickPin(markerIndex)
  {
    if(markerIndex < 0)
    {
      autoMapScroll++;
      $('html, body').animate({
        scrollTop: 0
      }, 500);
      setTimeout(function (){
        autoMapScroll--;
      }, 530);

      currentPinIndex = -1;
      return;
    }
    if(!mapMarkers[markerIndex])
      return;
    if(autoMapScroll != 0)
    {
      $('html, body').clearQueue();
    }
    autoMapScroll++;
    $('html, body').animate({
      scrollTop: $("#card-" + (markerIndex)).offset().top-75
    }, 500);
    setTimeout(function (){
      autoMapScroll--;
    }, 530);

    panMapTo(markerIndex);
  }

  function panMapTo(markerIndex)
  {
    panMapTo(markerIndex, false);
  }

  function panMapTo(markerIndex, override)
  {
    if(!override && (markerIndex == 0 && currentPinIndex == -1))
    {
      currentPinIndex = 0;
      return;
    }
    if(!override &&(markerIndex == currentPinIndex))
      return;
    mapMarker = mapMarkers[markerIndex];
    if(!mapMarker)
      return;
    currentPinIndex = markerIndex;
    if(pinToChange)
      pinToChange.setIcon(normalPinURL);
    mapMarker.setIcon(highlightedPinURL);
    pinToChange = mapMarker;
    map.panTo(mapMarker.position);
    if(!( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) )) {
      var offset = $(".card").width()/2;
      map.panBy(-offset-16, -30);
    }
  }
  </script>
</body>
</html> 