<!DOCTYPE html>
<html lang="en">
    <head>
        <title>prime | city guide</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prime/css/cityguide/style.css" />
		<noscript>
			<style>
				.ib-main a{
					cursor:pointer;
					overflow: auto;
				}
				.ib-main-wrapper{
					position:absolute;
					top:0px;
					bottom:24px;
					overflow:auto;
				}
			</style>
		</noscript>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}prime/css/diy-or-recipe/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.2/normalize.css">
        <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/map.js"></script>
        </script>

        <style type="text/css">
            header:after {
                background-image: url('{{ STATIC_URL }}prime/img/cityguides/header.jpg');
            }
        </style>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js"></script>
         <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/map.js"></script>
    </head>
    <body>
        <header>
           <!--  <ul id="mainnav">
                <li>
                    <a href="{% url 'root' %}">home</a>
                </li>
                <li>
                    <a href="{% url 'prime_recipe' %}">recipes</a>
                </li>
                <li>
                    <a href="{% url 'cityguides_view' %}">city guides</a>
                </li>
                <li>
                    <a href="{% url 'prime_diy' %}">diy</a>
                </li>
                <li>
                    <a href="{% url 'prime_past_issues' %}">past issues</a>
                </li>
            </ul> -->
            <p id="title">
                <span id="one">prime</span> <span id="two">city guides</span>
            </p>
        </header>
        
        <div id="googlemaps"></div>

        <div id="content">
            <div class="card" style="border-top: 6pt solid rgb(1, 136, 210)">
            <p id="intro">
            Daily Bruin introduces <i>Prime Cityguide</i>, a travel manual featuring the must-go places around Los Angeles
            </p>
            </div>
        </div>

        
        <!-- 
        <div id="ib-main-wrapper" class="ib-main-wrapper">
            <div class="ib-main">
                {% block content %}

                {% endblock %}
                <div class="clr"></div>
            </div>
        </div> -->
        

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.amd.min.js"></script> 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/jquery.kinetic.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/jquery.easing.1.3.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAROMcHY4NnQ8AZGk5jN71FICduJTm0T-s&callback=initialize">
        </script>
         <script type="text/javascript" src="{{ STATIC_URL }}prime/js/cityguide/dataloader.js"></script>
        
        $.(document).ready(function() { 
            showGoogleMaps();
        });
        </script>
    </body>
</html> 