<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>{{ neighborhood.title }} | prime | City Guides </title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prime/css/cityguide/district/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prime/css/cityguide/district/demo.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prime/css/cityguide/district/component.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<!-- Optional theme -->
<!-- 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
 -->
		<style type="text/css">
			header:after {
				background-image: url('{{ STATIC_URL }}prime/img/cityguides/header.jpg');
            }
		</style>

	</head>
	<body class="demo-6">
		<div id="container" class="container intro-effect-grid">
			<!-- Top Navigation -->
			<div class="header">
				<div class="bg-img"><img src="{{ MEDIA_URL }}{{ neighborhood.lead_photo }}" alt="Background Image"/></div>
				<header>
		            <ul id="mainnav">
		                <li>
		                    <a href="{% url 'root' %}">home</a>
		                </li>
		                <li>
		                    {% if typeTitle == 'DIY' %}
		                        <a href="{% url 'prime_diy' %}">diy</a>
		                    {% else %}
		                        <a href="{% url 'prime_recipe' %}">recipes</a>
		                    {% endif %}
		                </li>
		                <li>
		                    <a href="{% url 'cityguides_view' %}">city guides</a>
		                </li>
		                <li>
		                    {% if typeTitle == 'DIY' %}
		                        <a href="{% url 'prime_recipe' %}">recipes</a>
		                    {% else %}
		                        <a href="{% url 'prime_diy' %}">diy</a>
		                    {% endif %}
		                </li>
		                <li>
		                    <a href="#">past issues</a>
		                </li>
		            </ul>
		            <p id="title">
		                <span id="one">prime</span> <span id="two"> City Guides</span>
		            </p>
		        </header>

				<div class="title">
				<h1>{{ neighborhood.title }}</h1>
					<p class="subline">Beyond the Promenade</p>
					<p> originally published <strong>September 30, 2014</strong></strong></p>
				</div>
			</div>
			<button class="trigger" data-info="Click to read"><span>Trigger</span></button>
			<article class="content">

							<div id="jenjiera" >

									<div class="row">
									  <div class="col-md-12"> </div>
									  		<div class="col-md-12"><img src="{{ STATIC_URL }}prime/img/cityguides/seedoeat.jpg" class="img-responsive"
									  		width: 100% \9;
									  		alt="Responsive image"></div>
									  <div class="col-md-1"> </div>
									</div>

							<div class="row">
								  <div class="col-md-12">
								<h4><b> It's no secret that Santa Monica is a tourist haven.</b></h4> 
								<h5>Between Third Street Promenade, the pier and even 

								the beach, the city is rife with overpriced, highly commercialized money traps.
								<p></p>
									
								But there's much more to Santa Monica than these tried-and-true tourist picks. In fact, the further south you go, the 

								trendier and more eclectic Santa Monica becomes. Luckily for us, this famous town is practically in UCLA's backyard. 
								<p></p>
					
								The best street to get a feel of what Santa Monica is like for the locals is Main Street. This quirky district lies just south 

								of Third Street Promenade but north of Venice. Here, you'll find a myriad of shops and eateries littering the twinkle light-
								covered neighborhood.
								</h5>
							</div>
								{% block content %}
								{% endblock %}

						</div>
					</div>
			</article>
		</div>		
		<script src="{{ STATIC_URL }}prime/js/cityguide/classie.js"></script>
		<script>
			(function() {

				// detect if IE : from http://stackoverflow.com/a/16657946		
				var ie = (function(){
					var undef,rv = -1; // Return value assumes failure.
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf('MSIE ');
					var trident = ua.indexOf('Trident/');

					if (msie > 0) {
						// IE 10 or older => return version number
						rv = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
					} else if (trident > 0) {
						// IE 11 (or newer) => return version number
						var rvNum = ua.indexOf('rv:');
						rv = parseInt(ua.substring(rvNum + 3, ua.indexOf('.', rvNum)), 10);
					}

					return ((rv > -1) ? rv : undef);
				}());


				// disable/enable scroll (mousewheel and keys) from http://stackoverflow.com/a/4770179					
				// left: 37, up: 38, right: 39, down: 40,
				// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
				var keys = [32, 37, 38, 39, 40], wheelIter = 0;

				function preventDefault(e) {
					e = e || window.event;
					if (e.preventDefault)
					e.preventDefault();
					e.returnValue = false;  
				}

				function keydown(e) {
					for (var i = keys.length; i--;) {
						if (e.keyCode === keys[i]) {
							preventDefault(e);
							return;
						}
					}
				}

				function touchmove(e) {
					preventDefault(e);
				}

				function wheel(e) {
					// for IE 
					//if( ie ) {
						//preventDefault(e);
					//}
				}

				function disable_scroll() {
					window.onmousewheel = document.onmousewheel = wheel;
					document.onkeydown = keydown;
					document.body.ontouchmove = touchmove;
				}

				function enable_scroll() {
					window.onmousewheel = document.onmousewheel = document.onkeydown = document.body.ontouchmove = null;  
				}

				var docElem = window.document.documentElement,
					scrollVal,
					isRevealed, 
					noscroll, 
					isAnimating,
					container = document.getElementById( 'container' ),
					trigger = container.querySelector( 'button.trigger' );

				function scrollY() {
					return window.pageYOffset || docElem.scrollTop;
				}
				
				function scrollPage() {
					scrollVal = scrollY();
					
					if( noscroll && !ie ) {
						if( scrollVal < 0 ) return false;
						// keep it that way
						window.scrollTo( 0, 0 );
					}

					if( classie.has( container, 'notrans' ) ) {
						classie.remove( container, 'notrans' );
						return false;
					}

					if( isAnimating ) {
						return false;
					}
					
					if( scrollVal <= 0 && isRevealed ) {
						toggle(0);
					}
					else if( scrollVal > 0 && !isRevealed ){
						toggle(1);
					}
				}

				function toggle( reveal ) {
					isAnimating = true;
					
					if( reveal ) {
						classie.add( container, 'modify' );
					}
					else {
						noscroll = true;
						disable_scroll();
						classie.remove( container, 'modify' );
					}

					// simulating the end of the transition:
					setTimeout( function() {
						isRevealed = !isRevealed;
						isAnimating = false;
						if( reveal ) {
							noscroll = false;
							enable_scroll();
						}
					}, 1000 );
				}

				// refreshing the page...
				var pageScroll = scrollY();
				noscroll = pageScroll === 0;
				
				disable_scroll();
				
				if( pageScroll ) {
					isRevealed = true;
					classie.add( container, 'notrans' );
					classie.add( container, 'modify' );
				}
				
				window.addEventListener( 'scroll', scrollPage );
				trigger.addEventListener( 'click', function() { toggle( 'reveal' ); } );
			})();
		</script>
	</body>
</html>