<!DOCTYPE html>
{% load shortcodes %}
{% load markdown %}

<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>{{ neighborhood.title }} | prime | City Guides </title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prime/css/cityguide/district/normalize.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prime/css/cityguide/district/demo.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}prime/css/cityguide/district/component.css" />
	<link href="{{ STATIC_URL }}prime/css/diy-or-recipe/style.css" rel="stylesheet" type="text/css">
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js" ></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}prime/css/navbar.css">

</head>
<body>
	<nav class="navbar navbar-fixed-top" id="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" id="brand-collapse" href="#">Prime</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div>

			<div class="collapse navbar-collapse" id="collapse">

				<ul class="nav navbar-nav">
					<li><a href="{% url 'prime_past_issues' %}">All Issues</a></li>
					<li><a href="{% url 'prime_recipe' %}">Recipes</a></li>
					<li id="brand"><a href="{% url 'root' %}">Prime</a></li>
					<li><a href="{% url 'cityguides_view' %}">City Guides</a></li>
					<li><a href="{% url 'prime_diy' %}">DIY</a></li>
				</ul>
			</div>
		</div>
	</nav>
</nav>
<div id="banner-container">
	<!-- <img id="banner" src="{{ MEDIA_URL }}{{ neighborhood.lead_photo }}" class="img-responsive" alt="Responsive image"> -->
	<img id="banner" src="{{ STATIC_URL }}prime/img/cityguides/header.jpg" class="img-responsive" alt="Responsive image">
</div>

<div id="intropara" style="text-align: left;">
	<p>
		{{ neighborhood.intro_body|markdown|image|youtube }}
	</p>
</div>

<nav class="navbar" id="affix" style="z-index: 100000;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>

		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav">
				<li><a class="see">See</a></li>
				<li><a class="do">Do</a></li>
				<li><a class="eat">Eat</a></li>

			</ul>
		</div>
	</div>
</nav>

{% block content %}
{% endblock %}



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="{{ STATIC_URL }}prime/js/cityguide/classie.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		var os = $('#affix').offset().top - $('#navbar').height()
    $('#affix').affix({
      offset: {top: os}
    })
		$(".see").click(function() {
			$('html, body').animate({
				scrollTop: $("#see").offset().top - $('#navbar').height()},
				'slow');
		});
		$(".do").click(function() {
			$('html, body').animate({
				scrollTop: $("#do").offset().top - $('#navbar').height()},
				'slow');
		});
		$(".eat").click(function() {
			$('html, body').animate({
				scrollTop: $("#eat").offset().top - $('#navbar').height()},
				'slow');
		});
		$(window).scroll(function() {
			if ($(window).width() > 767) {
				if ($('#navbar').offset().top > 100) {
					$('#navbar').addClass('scrolled');
				}
				else {
					$('#navbar').removeClass('scrolled');
				}
			}
		})
	})
</script>

</body>
</html>