<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}prime/css/landing/superslides.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ STATIC_URL }}prime/css/navbar.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}prime/css/landing/landing.css">
  <title>prime Fall 2015 | Daily Bruin </title>


</head>

<body>
  <nav class="navbar navbar-fixed-top" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="brand-collapse" href="#">Prime</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'prime_past_issues' %}">All Issues</a></li>
          <li><a href="{% url 'prime_recipe' %}">Recipes</a></li>
          <li id="brand"><a href="{% url 'root' %}">Prime</a></li>
          <li><a href="{% url 'cityguides_view' %}">City Guides</a></li>
          <li><a href="{% url 'prime_diy' %}">DIY</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="slides-overlay">
  </div>
  <div id="slides">
    <div class="slides-container">
      <div>
        <img src="http://dailybruin.com/images/2015/11/AYU_1926_meitu_6.jpg" width="1024" height"683" alt="Cinelli">
        <div id="slides-caption"><a href="http://graphics.dailybruin.com/a-space-to-dream/">A Space to Dream</a></div>
      </div>
      <div>
        <img src="http://dailybruin.com/images/2015/11/AYU_0019_meitu_1.jpg" width="1024" height="683">
        <div id="slides-caption"><a href="http://graphics.dailybruin.com/museums-of-LA/">Museums of LA</a></div>

      </div>
      <div>
        <img src="http://dailybruin.com/images/2015/11/two_meitu_1.jpg" width="1024" height"683"> 
        <div id="slides-caption"><a href="http://graphics.dailybruin.com/all-abroad/">All Abroad</a></div>
      </div>
      <div>
        <img src="http://dailybruin.com/images/2015/11/AYU_9638_meitu_1.jpg" width="1024" height"683"> 
        <div id="slides-caption"><a href="http://graphics.dailybruin.com/age-of-learning/#firstPage">Age of Learning</a></div>
      </div>
      <div>
        <img src="http://dailybruin.com/images/2015/11/AYU_9804_meitu_2.jpg" width="1024" height"683"> 
        <div id="slides-caption"><a href="http://graphics.dailybruin.com/prime/fall-2015/campfire-philly-cheesesteak/">Campfire</a></div>
      </div>

      
    </div>

    <nav class="slides-navigation">
      <a href="#" class="next"><i class="fa fa-chevron-right"></i></a>
      <a href="#" class="prev"><i class="fa fa-chevron-left"></i></a>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4" style="position: fixed; bottom: 30px; right: 30px; z-index: 1000;">
        <div id="sb-search" class="sb-search">

          <form action="{% url 'search_result'%}">
            <input class="sb-search-input" placeholder="Search Articles..." type="text" value="" name="query" id="search">
            <input class="sb-search-submit" type="submit" value="">
            <span class="sb-icon-search"><i class="fa fa-search"></i></span>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="container">
    <div class="row">
      {% for article in articles|slice:":2" %}
      <div class="col-xs-6">
        <img height="50% !important" src="{{ MEDIA_URL }}{{ article.lead_photo }}" class="img-responsive">
        <div class="header" style="margin-top: 15px;">
          <a href="{% url 'prime_article' article.issue.slug article.slug %}">{{article.title}}</a>
        </div>
        <div class="description">
          <p>{{article.teaser|truncatechars:200}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for article in articles|slice:"2:4" %}
      <div class="col-xs-6">
        <img height="50% !important" src="{{ MEDIA_URL }}{{ article.lead_photo }}" class="img-responsive">
        <div class="header" style="margin-top: 15px;">
          <a href="{% url 'prime_article' article.issue.slug article.slug %}">{{article.title}}</a>
        </div>
        <div class="description">
          <p>{{article.teaser|truncatechars:200}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for article in articles|slice:"4:6" %}
      <div class="col-xs-6">
        <img height="50% !important" src="{{ MEDIA_URL }}{{ article.lead_photo }}" class="img-responsive">
        <div class="header" style="margin-top: 15px;">
          <a href="{% url 'prime_article' article.issue.slug article.slug %}">{{article.title}}</a>
        </div>
        <div class="description">
          <p>{{article.teaser|truncatechars:200}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for article in articles|slice:"6:8" %}
      <div class="col-xs-6">
        <img height="50% !important" src="{{ MEDIA_URL }}{{ article.lead_photo }}" class="img-responsive">
        <div class="header" style="margin-top: 15px;">
          <a href="{% url 'prime_article' article.issue.slug article.slug %}">{{article.title}}</a>
        </div>
        <div class="description">
          <p>{{article.teaser|truncatechars:200}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for article in articles|slice:"8:10" %}
      <div class="col-xs-6">
        <img height="50% !important" src="{{ MEDIA_URL }}{{ article.lead_photo }}" class="img-responsive">
        <div class="header" style="margin-top: 15px;">
          <a href="{% url 'prime_article' article.issue.slug article.slug %}">{{article.title}}</a>
        </div>
        <div class="description">
          <p>{{article.teaser|truncatechars:200}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="pagination" style="margin-top: 25px;">
    <span class="step-links">
      {% if articles.has_previous %}
      <a href="?page={{ articles.previous_page_number }}"><i class="fa fa-chevron-left"></i></a>
      {% endif %}

      <span class="current">
        Page {{ articles.number }} of {{ articles.paginator.num_pages }}
      </span>

      {% if articles.has_next %}
      <a href="?page={{ articles.next_page_number }}"> <i class="fa fa-chevron-right"></i></a>
      {% endif %}
    </span>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ STATIC_URL }}prime/js/jquery.superslides.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}prime/js/landing.js"></script>
  <script src="{{ STATIC_URL }}prime/js/cityguide/classie.js"></script>
  <script src="{{ STATIC_URL }}prime/js/base.js"></script>
  <script>
    $(document).ready(function(){
      new UISearch( document.getElementById( 'sb-search' ) );
      $(window).scroll(function() {
        if ($(window).width() > 767) {
          if ($('#navbar').offset().top > 100) {
            $('#navbar').addClass('scrolled');
          }
          else {
            $('#navbar').removeClass('scrolled');
          }
        }
      })
    })
  </script>
</teaser>
</html>
