@font-face {
  font-family: brand;
  src: url(./James_Fajardo.ttf); }
* {
  box-sizing: border-box; }

.scrolled {
  -webkit-box-shadow: 2px 1px #F2F2F2 !important;
  -moz-box-shadow: 2px 1px #F2F2F2 !important;
  -ms-box-shadow: 2px 1px #F2F2F2 !important;
  -o-box-shadow: 2px 1px #F2F2F2 !important;
  box-shadow: 2px 1px #F2F2F2 !important;
  background: white !important;
  height: 60px !important; }
  .scrolled a {
    color: black !important;
    transform: skewY(0deg) !important;
    text-decoration: none !important; }

#banner-container #banner {
  width: 100%; }

.affix {
  top: 60px;
  width: 100% !important; }

#affix {
  background-color: black; }
  #affix .container-fluid .navbar-collapse {
    text-align: center; }
    #affix .container-fluid .navbar-collapse .navbar-nav {
      width: 100%; }
      #affix .container-fluid .navbar-collapse .navbar-nav li {
        float: none;
        display: inline-block; }
        #affix .container-fluid .navbar-collapse .navbar-nav li a {
          z-index: 100;
          color: white; }
          #affix .container-fluid .navbar-collapse .navbar-nav li a:hover {
            background-color: transparent; }

.pagination .step-links {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase; }
  .pagination .step-links .prev .next {
    margin: 5px;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 7px; }
  .pagination .step-links .current {
    margin: 5px;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 7px;
    background: black; }

#navbar {
  border: none;
  -webkit-box-shadow: 0px 0px white;
  -moz-box-shadow: 0px 0px white;
  -ms-box-shadow: 0px 0px white;
  -o-box-shadow: 0px 0px white;
  box-shadow: 0px 0px white;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  height: 125px;
  background: none; }
  #navbar .navbar-header #brand-collapse {
    display: none; }
  #navbar .navbar-header .icon-bar {
    background-color: black; }
  #navbar .container-fluid {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #navbar .container-fluid .navbar-nav {
      text-align: center;
      height: 125px;
      width: 100%; }
      #navbar .container-fluid .navbar-nav li {
        width: 100px;
        height: 125px; }
        #navbar .container-fluid .navbar-nav li a {
          -webkit-transition: all 350ms ease-in-out;
          -moz-transition: all 350ms ease-in-out;
          -ms-transition: all 350ms ease-in-out;
          -o-transition: all 350ms ease-in-out;
          transition: all 350ms ease-in-out;
          color: white;
          text-align: center;
          line-height: 125px;
          padding: 0;
          font-family: 'PT Sans', sans-serif;
          text-transform: uppercase; }
          #navbar .container-fluid .navbar-nav li a:hover {
            background: none !important;
            text-decoration: line-through; }
      #navbar .container-fluid .navbar-nav #brand {
        width: 200px;
        text-align: center; }
        #navbar .container-fluid .navbar-nav #brand a {
          font-family: brand;
          -webkit-transition: all 350ms ease-in-out;
          -moz-transition: all 350ms ease-in-out;
          -ms-transition: all 350ms ease-in-out;
          -o-transition: all 350ms ease-in-out;
          transition: all 350ms ease-in-out;
          transform: skewY(-4deg);
          font-size: 4.2em;
          text-transform: none;
          text-decoration: underline; }

@media (max-width: 767px) {
  .affix {
    top: 50px; }

  #navbar {
    -webkit-box-shadow: 2px 1px #F2F2F2 !important;
    -moz-box-shadow: 2px 1px #F2F2F2 !important;
    -ms-box-shadow: 2px 1px #F2F2F2 !important;
    -o-box-shadow: 2px 1px #F2F2F2 !important;
    box-shadow: 2px 1px #F2F2F2 !important;
    background: white !important;
    height: auto; }
    #navbar .container-fluid {
      background: white;
      position: relative;
      height: auto;
      display: block; }
      #navbar .container-fluid .navbar-header #brand-collapse {
        font-family: brand;
        font-size: 3.2em;
        color: black;
        transform: skewY(-4deg);
        display: block; }
      #navbar .container-fluid .navbar-nav {
        text-align: none;
        height: 169px;
        width: 100%; }
        #navbar .container-fluid .navbar-nav li {
          height: 40px;
          width: 100%; }
          #navbar .container-fluid .navbar-nav li a {
            color: black;
            text-align: center;
            line-height: 40px;
            padding: 0;
            font-family: 'PT Sans', sans-serif;
            text-transform: uppercase; }
            #navbar .container-fluid .navbar-nav li a:hover {
              background: none !important;
              text-decoration: line-through; }
        #navbar .container-fluid .navbar-nav #brand {
          display: none; } }

/*# sourceMappingURL=navbar.css.map */
