@import url('reset.css');

body{
    background: #fff;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
	overflow-y: auto;
}
a{
    color: #ddd;
    text-decoration: none;
}
.clr{
    clear: both;
}

.container {
    margin: 40px;
    text-align: center;
}

/* Header Style */

.header{
    font-family: 'Century', serif;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    overflow-y: auto;
    line-height: 24px;
    font-size: 18px;
    background: #000;
    opacity: 0.7;
    z-index: 20;
}

.header a{
    padding: 5px 10px;
    letter-spacing: 0px;
    color: #fff;
    text-align: right;
}

.header a:hover{
    color: #ddd;
}

.header a span{
    font-weight: bold;
}

.header span.right_ab{
    position: absolute;
    right: 4px;
}
/* Top Bar */

.ib-top{
    background: #fff;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    height: 60px;
}
.ib-top h1{
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    line-height: 60px;
    padding-left: 10px;
}
.ib-top h1 span{
    color: #555;
    font-size: 20px;
}
.ib-main-wrapper{
    width: 100%;
    margin-top: 60px;
    outline: none;
    overflow-y: scroll;
    /*height dynamic*/
}
.ib-main{
    position: relative;
    overflow: scroll;
    cursor: default !important;
}
.ib-main a{
    float: left;
    width: 280px;
    height: 280px;
    position: relative;
    overflow: hidden;
    margin: 0px 0px 5px 5px;
    background: #fff url(../images/thumb_bg.jpg) no-repeat center center;
    background-size: 110% 110%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ib-main a.ib-loading,
.ib-main a.ib-loading:hover{
    background: #fff url(../images/ajax-loader.gif) no-repeat center center;
    background-size: 31px 31px;
}

.ib-main a.ib-loading img,
.ib-main a.ib-loading:hover img{
    opacity: 0.8;
}

.ib-main > a.ib-loading > span,
.ib-main a.ib-loading > span{
    display: none;
}

.ib-main > a > span{
    display: block;
    position: relative;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 20px;
    top: 45%;
    left: 0px;
    text-shadow: 1.3px 1.3px 1.3px rgba(0,0,0,.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ib-main a:hover > span{
    text-decoration: none;
    top: 35%;
}

.ib-main a:hover{
	text-decoration: none;
    background-size: 100% 100%;
    opacity: 0.9;
}

.ib-content{
    background: #f9f9f9;
}

.ib-content .ib-teaser{
    text-align: center;
    background: #333;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ib-teaser h2{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    line-height: 26px;
    padding-top: 40%;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.ib-teaser h2 span{
    text-transform: none;
    font-size: 20px;
    font-family: 'Century', serif;
    font-style: italic;
    display: block;
}

.ib-content .ib-teaser:hover{
    background: #000;
}

.ib-content-preview{
    position: absolute;
    top: 44px;
    left: 0px;
    background: #000;
    width: 100%;
    height: 630px; /*dynamic*/
    display: none;
}

.ib-content-preview .ib-teaser h2{
    font-size: 60px;
    padding: 85px 40px 20px 40px;
}

.ib-content-preview .ib-teaser span{
    padding: 20px 0px 0px 5px;
    font-size: 22px;
}

.ib-content-full{
    font-family: 'Source Sans Pro';
    text-transform: none;
    line-height: 26px;
    margin: 0px 40px;
    border-top: 1px solid #333;
    padding: 20px 0px;
	font-size: 16px;
	overflow: scroll;
}

.ib-content-full p{
	padding: 5px 0px;
	overflow: scroll;
}

.ib-preview{
    overflow: hidden;
    position: absolute;
    top: 40px;
    display: none;
}

.ib-preview-descr{
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 999;
    font-size: 60px;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.9);
}

.ib-preview img{
	position: absolute;
}

.ib-nav span{
	width: 53px;
	height: 87px;
	position: absolute;
	top: 50%;
	margin-top: -43px;
	cursor: pointer;
    text-indent: -9000px;
	opacity: 0.6;
	z-index: 999;
    background: transparent url(../images/nav.png) no-repeat top right;
	right: 10px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.ib-nav span.ib-nav-prev{
	background-position: top left;
	left: 10px;
    right: auto;
}

.ib-close{
	top: 7px;
	right: 7px;
	background: transparent url(../../img/cityguides/close.png) no-repeat center center;
	position: absolute;
	width: 24px;
	height: 24px;
	cursor: pointer;
	opacity: 0.2;
	z-index: 999;
    text-indent: -9000px;
}

.ib-nav span:hover, .ib-close:hover{
	opacity: 1;
}


.ib-loading-large{
    text-indent: -9000px;
    width: 60px;
    height: 60px;
    background: #fff url(../images/ajax-loader.gif) no-repeat center center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    z-index: 999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.9;
}

@media screen and (max-width: 750px) {
    .ib-main {
        padding-left: 30%;
    }
}


@media screen and (max-width: 600px) {
    .ib-main {
        padding-left: 20%;
    }
}
