/* */

/* Conent necessary for city guides css */
.content {
	z-index: -1;
	position: relative;
	margin: 0 auto;
	padding: 0 0 3em;
}

@media screen and (min-width: 950px) {
.content {
	margin-top: -16%;
}
}


@media screen and (min-width: 751px) and (max-width: 949px) {
.content {
	margin-top: -30%;
}
}

@media screen and (max-width: 750px) and (min-width: 500px) {
.content {
	margin-top: -45%;
}
}

@media screen and (max-width: 499px) {
.content {
	margin-top: -60%;
}
}

.content > div:not(.title) {
	margin: -80px auto 0;
	max-width: 900px;
	padding: 0 1.25em;
}

.content > div:not(.title) p {
	margin: 0 auto 0 auto;
}

.content > div:not(.title) p:first-child {
	font-size: 1.1em !important;
}

.content h3 {
	margin: 0;
	font-size: 1.4em !important;
}

.content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1.65em !important;
	font-family: 'Lora', serif;
	line-height: 1.4;
}

.content blockquote::before {
	content: '\201C';
}

.content blockquote::after {
	content: '\201D';
}


/* -------------------------- */
/* Grid */
/* -------------------------- */

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

html, body, .container, .header {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

/* Header */
.header {
	position: relative;
	margin: 0 auto;
/*	min-height: 560px;
*/	width: 100%;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.title {
	z-index: 1000;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.title h1 {
	padding: 0 0 !important;
	color: #fff;
	font-weight: 800 !important;
	font-size: 3.25em !important;
	margin: 0 auto;
}

.title p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 300 !important;
	font-size: 1em !important;
	margin: 0 auto;
}

.title h1,
.title p.subline {
	line-height: 1;
}

.title p.subline {
	font-size: 1.75em !important;
}

/* Trigger Button */
button.trigger {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 5000;
	display: block;
	margin-left: -0.5em;
	padding: 0;
	width: 2em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 2em !important;
	cursor: pointer;
}

.container {
	width: 100% !important;
	padding: 0 !important;
}

.container:not(.notrans) button.trigger {
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.container.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

button.trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0;
	width: 300%;
	color: #fff;
	content: attr(data-info);
	font-size: 0.5em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.trigger:focus {
	outline: none;
}

button.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

button.trigger span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	content: "\e097";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header {
    text-align: center;
    height: 275px;
    color: black;
}
    /* It needs to be in an :after because of the opacity attribute. */
header:after {
    background-size: cover;
    content: "";
    width: 100%;
    height: 275px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    opacity: 0.6;
}

#one {
    font-family: "helvetica";
    font-weight: lighter;
    font-size: 1.3em;
}

#two {
    font-family: serif;
    text-transform: uppercase;
}

#title {
    padding-top: 30px;
    font-size: 6em;
    font-weight: lighter;
    opacity: 1;
    color: rgba(0, 0, 0, 0.7);
    -webkit-font-smoothing: antialiased;
}

#scrollto {
	text-align: center;
}

.scroll {
	width: 31%;
	float: left;
	margin: 1%;
}

.cgarticles h2 {
	text-align: center;
}

.cgarticles h3 {
	margin-bottom: 10px;
}

.cgarticles .hr {
	color: black;
}

#full {
	width: 100%;
	text-align: center;
}

.cgarticles {
	padding: 15px;
	padding-bottom: 0px;
}

#jenjira {
	font-size: .5em !important;
}

.row {
	width: 100%;
	padding-bottom: 30px;
	font-size: 1em !important;
}

#intro {
	margin-top: -50px;
	margin-bottom: 20px;
	font-size: 1.1em !important;
}

#types {
	text-align: center;
	text-transform: uppercase;
	margin-left: 9%;
}

#types li {
	font-size: 1.5em;
	display: inline;
	font-family: serif;
}

#types li:after {
	content: "/";
	margin: 0 5%;
}

#types li:last-child:after {
	content:"";
}

.see:hover {
	cursor: pointer;
}

.do:hover {
	cursor: pointer;
}

.eat:hover{
	cursor: pointer;
}

@media screen and (max-width: 750px) {

    #title {
        font-size: 4em;
    }
    #intro {
    	margin-top: 0px;
    }
    #sidebar li {
        width: 75%;
    }
    #sidebar li:hover {
        width: 90%;
    }
    #mainnav li {
        font-size: .9em;
    }
    #mainnav li a {
        padding-top: 10px;
    }
    #intropara p {
        font-size: .9em;
    }
}

@media screen and (max-width: 830px) {

    #title
    {
        font-size: 4em;
    }
}


@media screen and (max-width: 608px) {


    #title
    {
        font-size: 3em;
    }
    #mainnav
    {
    	height: 6.5em;
        background-color: black !important;
    }
}

#mainnav {
	padding: 0;
}

#mainnav li {
    display: inline-block;
    height: 6.5vh;
    width: 14vw;
    background-color: black;
    color: white;
    margin-left: .7vw;
    margin-right: .7vw;
    font-size: 1.2em;
    font-family: "helvetica";
    font-weight: lighter;
}
#mainnav li a {
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 8px;
}




.intro-effect-grid:not(.notrans) .grid li:nth-child(5) {
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.intro-effect-grid:not(.notrans) .header p  {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.intro-effect-grid:not(.notrans) .bg-img,
.intro-effect-grid:not(.notrans) .title {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

.intro-effect-grid:not(.notrans) .header h1,
.intro-effect-grid:not(.notrans) .codrops-demos a {
	-webkit-transition-property: color;
	transition-property: color;
}

.intro-effect-grid:not(.notrans) .grid li:nth-child(5),
.intro-effect-grid:not(.notrans) .bg-img,
.intro-effect-grid:not(.notrans) .title,
.intro-effect-grid:not(.notrans) .header h1,
.intro-effect-grid:not(.notrans) .header p,
.intro-effect-grid:not(.notrans) .codrops-demos a {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.intro-effect-grid .codrops-demos a {
	color: #fff;
}

.intro-effect-grid.modify .codrops-demos a {
	color: #cf7000;
}

.intro-effect-grid .codrops-demos a.current-demo {
	border-bottom: 3px solid #fff;
}

.intro-effect-grid.modify .codrops-demos a.current-demo {
	border-color: #cf7000;
}

.intro-effect-grid .title {
	max-width: 900px;
	padding-top: 2em;
}

.intro-effect-grid.modify .title {
	-webkit-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
}

.intro-effect-grid .content > div {
	margin-top: 40px;
	color: #2e3337;
}

.intro-effect-grid .header h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700 !important;
	padding: 0 0 0.6em;
}

.intro-effect-grid.modify .header h1 {
	color: rgba(0, 0, 0, 0.8);
}

.intro-effect-grid .header p {
	opacity: 0;
	color: #4c6270;
}

.intro-effect-grid .header p.subline {
	font-size: 1.5em !important;
}

.intro-effect-grid.modify .header p {
	opacity: 1;
}

.intro-effect-grid .grid {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: 0;
}

.intro-effect-grid .grid li::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(71,63,59,0.5);
	pointer-events: none;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.intro-effect-grid.modify .grid li:hover::after,
.intro-effect-grid.modify .grid li:nth-child(5)::after {
	background: rgba(71,63,59,0.1);
}

.intro-effect-grid .grid li {
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.intro-effect-grid .grid li h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600 !important;
	padding-bottom: 0.4em;
	margin: 1em;
	color: #fff;
	line-height: 1;
	font-size: 1em !important;
	position: absolute;
	bottom: 0;
	z-index: 100;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.intro-effect-grid .grid li:hover h2 {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.intro-effect-grid.modify .grid li:nth-child(5) {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.intro-effect-grid .grid li:nth-child(5) h2 {
	color: #de8721;
}

.intro-effect-grid.modify .bg-img {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* Media Queries */
@media screen and (max-width: 47em) {
	.title, .content {
		font-size: 100% !important;
	}

	.codrops-demos a {
		font-size: 100% !important;
	}

	.intro-effect-side .title {
		width: 100%;
		padding: 0 1em;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.intro-effect-side.modify .bg-img::before {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.intro-effect-side .bg-img::after {
		border-left-width: 0px;
		border-right-width: 0px;
		right: 0px;
		left: 0px;
		background: rgba(255,255,255,0.1);
	}

	.intro-effect-side.modify .bg-img::after {
		background: rgba(255,255,255,1);
	}

	.intro-effect-sidefixed .content {
		width: 100%;
		margin-left: auto;
	}

	.intro-effect-sidefixed .bg-img::after {
		width: 95%;
	}

}

@media screen and (max-width: 27em) {
	.intro-effect-jam3 .content {
		padding: 0 2em 5em;
	}

	.intro-effect-grid .grid li h2 {
		display: none;
	}

	.intro-effect-push .header .title {
		top: 60px;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.title, .content {
		font-size: 50% !important;
	}

	button.trigger::before {
		display: none;
	}
}