{% extends 'prime/Recipe/recipebase.html' %}

{% block content %}

<div id="sidebar">
	<ul id="sidenav">
		{% for tag in tags %}
			<a href="{% url 'prime_recipe' %}tagged/{{ tag.name }}/"> <li> {{ tag.name }} </li></a>
		{% endfor %}
	</ul>
</div>

<div id="main">
	<ul id="recipelist">
		{% for recipe in recipes %}
			<li class="recipe">
			<div class="img_container">
				<img src="{{ MEDIA_URL }}{{ recipe.lead_photo }}" />
			</div>
			<div class="recipeintro">
				<p class="recipetitle">{{ recipe.title }}</p>
				<p class="recipebody">
					{{ recipe.teaser }} <span class="readmore"><a href="{% url 'prime_recipe' %}{{ recipe.slug }}">read more &#8688</a></span>
				</p>
			</div>
			<hr class="recipedivider" />
		{% endfor %}
	</ul>
</div>

<div class="pagination">
	<span class="step-links">
		{% if recipes.has_previous %}
			<a href="?page={{ recipes.previous_page_number }}"> << </a>
		{% endif %}

		<span class="current">
			Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
		</span>

		{% if recipes.has_next %}
			<a href="?page={{ recipes.next_page_number }}"> >> </a>
		{% endif %}
	</span>
</div>
{% endblock %}
