{% extends 'prime/DIY/diybase.html' %}

{% block content %}

<div id="sidebar">
	<ul id="sidenav">
		{% for tag in tags %}
			<a href="tagged/{{ tag.name }}/"> <li> {{ tag.name }} </li></a>
		{% endfor %}
	</ul>
</div>

<div id="main">
	<ul id="diylist">
		{% for article in articles %}
			<li class="diy">
			<div class="img_container">
				<img src="{{ MEDIA_URL }}{{ article.lead_photo }}" />
			</div>
			<div class="diyintro">
				<p class="diytitle">{{ article.title }}</p>
				<p class="diybody">
					{{ article.teaser }} <span class="readmore">read more &#8688</span>
				</p>
			</div>
			<hr class="diydivider" />
		{% endfor %}
	</ul>
</div>

<div class="pagination">
	<span class="step-links">
		{% if articles.has_previous %}
			<a href="?page={{ articles.previous_page_number }}"> << </a>
		{% endif %}

		<span class="current">
			Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
		</span>

		{% if articles.has_next %}
			<a href="?page={{ articles.next_page_number }}"> >> </a>
		{% endif %}
	</span>
</div>

{% endblock %}
