*, *:before, *:after {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    height: 100%;
}
    html {
        background: #222;
        font-size: 62.5%; /* Now, 1rem = 10px */
        overflow-y: scroll; /* Force scroll bar */
    }
    body {
        background: #444;
        background:      -o-linear-gradient(top, #444 0%, #222 100%);
        background:     -ms-linear-gradient(top, #444 0%, #222 100%);
        background:    -moz-linear-gradient(top, #444 0%, #222 100%);
        background: -webkit-linear-gradient(top, #444 0%, #222 100%);
        background:         linear-gradient(to bottom, #444 0%, #222 100%);
        background-repeat: no-repeat;
        color: #222;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.container {
    margin: auto;
    margin-bottom: 150px;
    padding-top: 60px;
    width: 960px;
}

.minor {
    font-size: 75%;
}

/*
 Media object:
 http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.media, .media-body {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}
    .media img {
        display: block;
        float: left;
        margin-right: 30px;
    }

.albums {
    margin: auto;
    padding: 0;
    width: 750px;
}

.album {
    background: #222;
    color: #fff;
    cursor: pointer;
    list-style: none;
    margin-bottom: 30px;
    padding: 15px;
    -webkit-font-smoothing: antialiased
}
    .album:last-child {
        margin-bottom: 0;
    }
    .album img {
        width: 250px;
        height: 250px;
    }
    .album-title {
        font-size: 32px;
        font-size: 3.2rem;
        font-weight: bold;
        margin: 0;
    }
    .album-artist {
        font-size: 26px;
        font-size: 2.6rem;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .album-rating {
        font-size: 24px;
        font-size: 2.4rem;
    }
    .album-author {
        font-size: 20px;
        font-size: 2.0rem;
        margin: 0;
    }
    .album-review {
        display: none;
    }
        .spotify-embed {
            float:right;
        }
        .album-review p {
            font-size: 18px;
            font-size: 1.8rem;
        }
