
@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@font-face {
    font-family: brand;
    src: url(./James_Fajardo.ttf);
}

* {
	box-sizing: border-box;
}

.scrolled {
	@include vendorize(box-shadow, 2px 1px #F2F2F2 !important);
	background: white !important;
	height: 60px !important; 

	a {
		color: black !important;
		transform: skewY(0deg) !important;
		text-decoration: none !important;
	}
}

#navbar {
	border: none;
	@include vendorize(box-shadow, 0px 0px white);
	@include vendorize(transition, all 350ms ease-in-out);
	height: 125px;
	background: none;

	.container-fluid {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	

		.navbar-nav {
			text-align: center;
			height: 125px;
			width: 100%;
			li {
				width: 100px;
				height: 125px;
				a {
					@include vendorize(transition, all 350ms ease-in-out);
					color: white;
					text-align: center;
					line-height: 125px;
					padding: 0;
					font-family: 'PT Sans', sans-serif;
					text-transform: uppercase;
					&:hover {
						text-decoration: line-through;
					}
				}
			}
			#brand {
				width: 200px;
				text-align: center;
				a {
					font-family: brand;
					@include vendorize(transition, all 350ms ease-in-out);
					transform: skewY(-4deg);
					font-size: 4.2em;
					text-transform: none;
					text-decoration: underline;
				}
			}
		}
	}

}

