
@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@font-face {
	font-family: brand;
	src: url(./James_Fajardo.ttf);
}

* {
	box-sizing: border-box;
}

.scrolled {
	@include vendorize(box-shadow, 2px 1px #F2F2F2 !important);
	background: white !important;
	height: 60px !important; 

	a {
		color: black !important;
		transform: skewY(0deg) !important;
		text-decoration: none !important;
	}
}

#banner-container {

	#banner {
		width: 100%;
	}
}

// Override Bootstrap Affix
.affix {
	top: 60px;
	width: 100% !important;
}

#affix {
	background-color: whitesmoke;
	.container-fluid {
		.navbar-collapse {
			text-align: center;
			.navbar-nav {
				width: 100%;
				li {
					float: none;
					display: inline-block;
				}
			}
		}
		
	}
}	

#navbar {
	border: none;
	@include vendorize(box-shadow, 0px 0px white);
	@include vendorize(transition, all 350ms ease-in-out);
	height: 125px;
	background: none;
	
	.navbar-header {
		#brand-collapse {
			display: none;
		}
		.icon-bar {
			background-color: black;
		}
	}

	.container-fluid {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		
		.navbar-nav {
			text-align: center;
			height: 125px;
			width: 100%;
			li {
				width: 100px;
				height: 125px;
				a {
					@include vendorize(transition, all 350ms ease-in-out);
					color: white;
					text-align: center;
					line-height: 125px;
					padding: 0;
					font-family: 'PT Sans', sans-serif;
					text-transform: uppercase;
					&:hover {
						background: none !important;
						text-decoration: line-through;
					}
				}
			}
			#brand {
				width: 200px;
				text-align: center;
				a {
					font-family: brand;
					@include vendorize(transition, all 350ms ease-in-out);
					transform: skewY(-4deg);
					font-size: 4.2em;
					text-transform: none;
					text-decoration: underline;
				}
			}
		}

	}

}

@media (max-width: 767px) {
	.affix {
		top: 50px;
	}
	#navbar {
		@include vendorize(box-shadow, 2px 1px #F2F2F2 !important);
		background: white !important;
		height: auto;

		.container-fluid {
			background: white;
			position: relative;
			height: auto;
			display: block;

			.navbar-header {
				#brand-collapse {
					font-family: brand;
					font-size: 3.2em;
					color: black;
					transform: skewY(-4deg);
					display: block;
				}
			}

			
			.navbar-nav {
				text-align: none;
				height: 169px;
				width: 100%;
				li {
					height: 40px;
					width: 100%;
					a {
						color: black;
						text-align: center;
						line-height: 40px;
						padding: 0;
						font-family: 'PT Sans', sans-serif;
						text-transform: uppercase;
						&:hover {
							background: none !important;
							text-decoration: line-through;
						}
					}
				}
				#brand {
					display: none;
				}
			}

		}
	}
}

