/*
Error: Invalid parent selector for "&.navbar-header": ".container-fluid >"
        on line 33 of prime/static/prime/scss/landing.scss

28: .container-fluid {
29: 	background-color: $white !important;
30: 	padding-right: 0 !important;
31: 	padding-left: 0 !important;
32: 	> {
33: 		&.navbar-header {
34: 			margin-left: 0;
35: 			margin-right: 0;
36: 		}
37: 		&.navbar-collapse {
38: 			margin-left: 0;

Backtrace:
prime/static/prime/scss/landing.scss:33
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/simple_sequence.rb:105:in `block in resolve_parent_refs'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/simple_sequence.rb:101:in `map'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/simple_sequence.rb:101:in `resolve_parent_refs'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/sequence.rb:67:in `block in resolve_parent_refs'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/sequence.rb:65:in `map'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/sequence.rb:65:in `resolve_parent_refs'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/comma_sequence.rb:36:in `block in resolve_parent_refs'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/comma_sequence.rb:35:in `map'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/selector/comma_sequence.rb:35:in `resolve_parent_refs'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:426:in `visit_rule'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:412:in `run'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/changliu/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Users/changliu/.rvm/gems/ruby-2.2.1/bin/sass:23:in `load'
/Users/changliu/.rvm/gems/ruby-2.2.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid parent selector for \"&.navbar-header\": \".container-fluid >\"\A         on line 33 of prime/static/prime/scss/landing.scss\A \A 28: .container-fluid {\A 29: 	background-color: $white !important;\A 30: 	padding-right: 0 !important;\A 31: 	padding-left: 0 !important;\A 32: 	> {\A 33: 		&.navbar-header {\A 34: 			margin-left: 0;\A 35: 			margin-right: 0;\A 36: 		}\A 37: 		&.navbar-collapse {\A 38: 			margin-left: 0;"; }
